<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:al="http://typo3.org/ns/Libeo/LboLinks/ViewHelpers"
      data-namespace-typo3-fluid="true">

<al:spaceless>
    <!-- WRAP -->
    <f:render section="wrap" />
    <!-- WRAP -->

    <!-- TAG -->
    <f:render section="tag" />
    <!-- TAG -->

    <!-- CONTENT -->
    <f:render section="text" />
    <!-- CONTENT -->

    <!-- CONTENT -->
    <f:render section="description" />
    <!-- CONTENT -->
</al:spaceless>


</html>
