<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="wrap">|</f:section>

<f:section name="tag">
    <a href="{data.link.url}" title="{data.link.title}" class="{data.link.class} is-external" target="_blank" {data.link.attributes -> f:format.raw()}>
</f:section>

<f:section name="text">
    <f:spaceless>
        {data.link.text -> f:format.raw()}<span class="visuallyhidden">{f:translate(key: 'url.external', extensionName: 'lbo_links')}</span>
    </f:spaceless>
</f:section>

<f:section name="description">
    </a>
</f:section>

</html>
